body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #000000;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#random-fact {
  text-align: center;
  margin-top: 20px;
}

#random-fact h2 {
  font-size: 2rem;
  color: #00FF00; 
  margin-bottom: 10px;
}

#random-fact p {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

#random-fact button {
  margin: 10px 0;
  background-color: #00FF00; 
  color: #000000;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: center;
}

#random-fact button:hover {
  background-color: #FF0000; 
  color: #FFFFFF; 
}
